@model VDABMovies.ViewModels._LoginPartialViewModel
@if (Session["login"] != null)
{
    <p>Welkom @Model.Klant.Voornaam @Model.Klant.Naam </p>
    @Html.ActionLink("Uitloggen", "VDABLogout", "Account")
}